@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: JetBrains Mono;
  src: url("https://fonts.cdnfonts.com/css/jetbrains-mono");
}

* {
  transition: 0.05s all;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "JetBrains Mono", sans-serif;
}

@layer components {
  .Index {
    @apply flex h-screen flex-col items-center justify-center gap-12;
  }
  .IndexBtn {
    @apply rounded p-4 font-bold outline hover:bg-Black hover:text-White;
  }

  .Match {
    @apply flex h-screen items-center justify-center gap-12;
  }
  .MatchBreed {
    @apply text-xl capitalize;
  }
  .MatchImg {
    @apply h-96 w-96 cursor-pointer rounded outline hover:scale-105;
  }
}
